
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Member form</h5>
                <div class="ibox-tools">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <h3 class="help-block m-b-none">Information</h3>
                            <hr style="margin-top: 10px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Title" class="form-control">
                            @*<span class="help-block m-b-none">Example block-level help text here.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>

                        <div class="col-lg-10"><input type="text" placeholder="Name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Designation</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Designation" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name Short Form</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Short Form" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Date Of Birth</label>
                        <div class="col-lg-4">
                            <input type="date" placeholder="Dob" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Request Date</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="date" placeholder="Request date" class="form-control">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Mobile Number</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Mobile Number" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                        <label class="col-lg-2 control-label">Phone Number</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Phone Number" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Mobile Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>9766462995</td></tr>
                                    <tr><td>8237175481</td></tr>
                                </tbody>

                            </table>
                        </div>

                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Phone Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>8237175481</td></tr>
                                    <tr><td>9766462995</td></tr>
                                </tbody>

                            </table>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-2 control-label">Office Number</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Office Number" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                        <label class="col-lg-2 control-label">Email Address</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Email" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Office Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>9766462995</td></tr>
                                    <tr><td>8237175481</td></tr>
                                </tbody>

                            </table>
                        </div>

                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Email Address
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>rmudgal23@gmail.com</td></tr>
                                    <tr><td>manjunathpatil152@gmail.com</td></tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Additional Field</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Additional Field" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                        <label class="col-lg-2 control-label">Parameter</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" placeholder="Parameter" class="form-control">
                            <a href="#" style="color:#676a6c;"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 11px;margin-left: 8px;"></i></a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Additional Field
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>test 1</td></tr>
                                    <tr><td>test 2</td></tr>
                                </tbody>

                            </table>
                        </div>

                        <div class="col-lg-offset-2 col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Parameter
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Param 1</td></tr>
                                    <tr><td>Param 2</td></tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <h3 class="help-block m-b-none">Residential Address</h3>
                            <hr style="margin-top: 11px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 1</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Address 1" class="form-control">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 2</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Address 2" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">State</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="State" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">District</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="District" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">City</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="City" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Zip Code</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Zip Code" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <h3 class="help-block m-b-none">Office Address</h3>
                            <hr style="margin-top: 10px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 1</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Address 1" class="form-control">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 2</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Address 2" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">State</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="State" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">District</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="District" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">City</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="City" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Zip Code</label>

                        <div class="col-lg-10">
                            <input type="text" placeholder="Zip Code" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Shipping Address</label>

                        <div class="col-lg-10">
                            <input type="checkbox" placeholder="Shipping">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <a class="btn btn-white" href="/Master/ModuleList">Cancel</a>
                            <button class="btn btn-primary" id="btnsave" type="button">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

