@model office.Models.temlatesInfo
@{
  Layout = null;
}
<div class="mail-box">
        <div id="summernote" ondrop="drop(event)" ondragover="allowDrop(event)">
        @try
        {
            if (Model != null)
            {
                @(new HtmlString(@Model.Description))
            }
        }
        catch { }
    </div>
    <div class="mail-body text-right tooltip-demo">
        <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send" id="btnsave"><i class="fa fa-reply"></i> Save</a>
       </div>
    <div class="clearfix"></div>
</div>