  
@model  IEnumerable<office.Models.DataTemplateList>
@{
    Layout = null;
}
<div class="table-responsive" >
    <table class="table scroll-x">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="DTTemplateID" id="@item.DTTemplateID" name="@item.DTTemplateID" value="@item.DataTemplateName">
                        @item.DataTemplateName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

