@model IEnumerable<office.Models.PerformaPlaceholders>
@{
    /**/


    ViewBag.Title = "Placeholder";
    Layout = null;
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Projects </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-6">
                 
                    <div class="table table-hover margin bottom">



                        @foreach (var item in Model)
                        {
                        <div>

                            <button class="aLink  btn btn-link" id="@item.PlaceHolderName" style="margin-bottom: 0px!important;">

                                @item.PlaceHolderName

                            </button>
                        </div>

                        }

                    </div>
            </div>
            <div class="col-lg-6">
                <div id="world-map" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
     
          
 
<script>
    $(document).ready(function () {
        $('.aLink').on('click', function () {
            var texts = "";
            texts = "##" + this.id + "##";
            insertTextAtCursor(texts);
        });

    });
    function insertTextAtCursor(text) {

        var sel, range;
        debugger;
        if (window.getSelection) {
            if (window.getSelection().baseNode.parentNode.className == "aLink" || window.getSelection().baseNode.parentNode.className == "pull-right") { return; }
            if (window.getSelection().baseNode.parentNode.className == "file-manager" || window.getSelection().baseNode.parentNode.className == "mailbox-content") { return; }
            if (window.getSelection().baseNode.parentNode.className == "m-r-sm text-muted welcome-message" || window.getSelection().baseNode.parentNode.className == "col-lg-6") { return; }

            sel = window.getSelection();
            //if (sel.anchorNode.parentNode.className == "note-editable" || sel.anchorNode.parentNode.className =="note-editing-area") {
            if (sel.getRangeAt && sel.rangeCount) {
                range = sel.getRangeAt(0);
                range.deleteContents();
                range.insertNode(document.createTextNode(text));
            }
            //  }
        } else if (document.selection && document.selection.createRange) {
            document.selection.createRange().text = text;
        }

    }
</script>
